### Sensitive Spring Config ###
application.yml
application.properties
application-*.yml
application-*.properties

### Spring Boot target ###
/target/
!/target/.keep

### Logs ###
/logs/
*.log

### IDE files ###
*.iml
.idea/
.vscode/
.project
.classpath
.settings/
.factorypath

### Build ###
/build/

### OS junk ###
.DS_Store
Thumbs.db

### Test outputs ###
/out/
